:root {
  --primary-color: #555555;
  --secondary-color: #303030;
  --third-color: #ffffff;
  --accent-color: #ff6c00;
  --subtitle-color: rgba(157, 164, 189, 0.6);
  --grey-color-100: #9DA4BD;
  --grey-color-60: rgba(157, 164, 189, 0.6);
  --grey-color-40: rgba(157, 164, 189, 0.4);
  --first-bg-color: #ffffff;
  --second-bg-color: #F7F7F7;
  --grey-bg-color: #4F4F4F;
}

body {
  color: var(--primary-color);
  background-color: var(--first-bg-color);

  font-family: "Open sans", sans-serif;
  font-size: 18px;  
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* Header */
.container {
  width: 1200px;
  padding: 130px 15px;
  margin-right: auto;
  margin-left: auto;

  outline: 1px solid orange;
}

.page-header {
  background-color: var(--grey-bg-color);
}

.page-header > .container {
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  align-items: center;
  position: relative;
  
  padding-top: 32px;
}

.page-header .nav {
  display: flex;
  align-items: center;
}

.nav > .nav-menu {
  display: flex;
  margin-left: 71px;
}

.nav-menu > .item {
  padding: 12px 0;
}

.nav-menu > .item + .item {
  margin-left: 40px;
}

.nav-menu .link {
  padding-top: 12px;
  padding-bottom: 12px;

  color: var(--third-color);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--accent-color);
}

/* .header-contacts */
.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts > .item + .item {
  margin-left: 40px;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  color: var(--third-color);
  font-weight: 600;
  font-family: "Open sans", sans-serif;  
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}

.header-contacts .phone {
  border: none;
}

.page-header .social-list {
  display: flex;

  position: absolute;
  transform: rotate(-90deg);
  bottom: -499px;
  left: -26px;
}

.social-list > .item {
  margin-left: 40px;
}

/* .social-list > .item:first-child::before {
  content: '';
  display: block;
  width: 60px;
  height: 20px;
  border-bottom: 1px solid  var(--secondary-color);
}  */

.social-list .link{
  padding: 12px 0;
  display: block;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-color);

  text-decoration: none;
}

.social-list .link:hover {
  color: var(--accent-color);
}

/* Hero */
.hero{
  background-color: var(--grey-bg-color);
}

.hero > .container {
  display: flex;
  flex-direction: column;
  padding-top: 184px;
  padding-bottom: 40px;
  padding-left: 215px;
}

.subtitle-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  text-transform: uppercase;
}

.subtitle-text.grey {
  color: var(--grey-color-60);
}

.subtitle-text.secondary {
  color: var(--secondary-color);
}

.hero .title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  color: var(--third-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero .description {
  margin-bottom: 142px;
}

.description {
  color: var(--grey-color-100);

  line-height: 1.67;
  letter-spacing: 0.02em;
}

.hero .hero-btns {
  align-self: flex-end;
}

.hero-btns > .btn {
  padding-bottom: 8px;
  width: 60px;
  border-bottom: 1px solid;

  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  text-align: left;
  letter-spacing: 0.1em;

  cursor: pointer;
}

.hero-btns > .btn:last-child {
  margin-left: 26px;
  text-align: right;
}

.hero-btns > .btn.grey {
  color: var(--grey-color-60);
}

.hero-btns > .btn.white {
  color: var(--third-color);
}

/* About Us */
.about > .container {
  display: flex;
}

.about .about-img {
  display: flex;
}

.about-img > .thumb:not(:first-child) {
  margin-left: 30px;
} 

.about .about-description {
  margin-left: 64px;
  width: 50%;
}

.about-description > .section-title {
  margin: 20px 0;
}

.section-title {
  color: var(--secondary-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.about-description > .text {
  margin: 20px 0 40px 0;
}

.text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.button.white {
  color: var(--secondary-color);
}

/* Services and Prices */
.services {
  background-color: var(--grey-bg-color);
}

.services .table-container {
  display: flex;
  margin-bottom: 50px;
}

.services .section-title {
  margin-top: 20px;
  margin-bottom: 44px;
}

.table-container > .prices-list {
  padding: 30px 40px;
  width: 50%;

  color: var(--grey-color-100);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.prices-list tr {
  display: block;
}

.prices-list tr:not(:last-child) {
  margin-bottom: 20px;
}

.section-title.white {
  color: var(--third-color);
}

.button.service {
  display: block;
  margin: 0 auto;
  width: 160px;

  letter-spacing: 0.07em;
}

/* Features */
.features .features-list {
  list-style: none;
}

.features-list .item {
  background-color: var(--second-bg-color);
}

.features-list .number {
  color: var(--secondary-color);

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.features-list .subtitle-text {
  color: var(--secondary-color);

  text-transform: none;
}

/* Our Foremen */
.team {
  background-color: var(--second-bg-color);
}

.team li {
  list-style: none;
}

.team .name {
  color: var(--secondary-color);

  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  
  text-align: center;
}

.team .occupation {
  color: var(--accent-color);
  
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;

  text-align: center;
}

.team-social-list .item {
  background-color: var(--first-bg-color);
}

/* Photo-Gallery */

/* Booking & Contacts */
.contacts {
  background-color: var(--grey-bg-color);
}

.address .link,
.contacts .time {
  color: var(--grey-color-100);

  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.address .link.underline {
  text-decoration: underline;
}

.contacts .title-time {
  color: var(--third-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  text-transform: uppercase;
}

/* Footer */
.footer .copy {
  color: var(--grey-color-100);
  
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
