:root {
  --primary-color: #555555;
  --secondary-color: #303030;
  --third-color: #ffffff;
  --accent-color: #ff6c00;
  --subtitle-color: rgba(157, 164, 189, 0.6);
  --grey-color-100: #9DA4BD;
  --grey-color-60: rgba(157, 164, 189, 0.6);
  --grey-color-40: rgba(157, 164, 189, 0.4);
  --first-bg-color: #ffffff;
  --second-bg-color: #F7F7F7;
  --grey-bg-color: #4F4F4F;
}

body {
  color: var(--primary-color);
  background-color: var(--first-bg-color);

  font-family: "Open sans", sans-serif;
  font-size: 18px;  
  line-height: 1.67;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;

}

/* Header */
header {
  background-color: var(--grey-bg-color);
}

.nav-menu .link {
  color: var(--third-color);

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;


  text-decoration: none;
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--accent-color);
}

.header-contacts .link {
  color: var(--third-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  text-decoration: none;
}

.button {
  color: var(--third-color);
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;

  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {    
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

/* Hero */
.hero{
  background-color: var(--grey-bg-color);
}

.social-list .link{
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-color);

  text-decoration: none;
}

.social-list .link:hover {
  color: var(--accent-color);
}

.subtitle-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  text-transform: uppercase;
}

.subtitle-text.grey {
  color: var(--grey-color-60);
}

.subtitle-text.secondary {
  color: var(--secondary-color);
}

.title {
  color: var(--third-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.description {
  color: var(--grey-color-100);

  line-height: 1.67;
  letter-spacing: 0.02em;
}

.hero .button {
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-align: left;
}

.hero .button.grey {
  color: var(--grey-color-60);
}

.hero .button.white {
  color: var(--third-color);
}

/* About Us */
.section-title {
  color: var(--secondary-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.button.white {
  color: var(--third-color);
}

/* Services and Prices */
.services {
  background-color: var(--grey-bg-color);
}

.services .prices-list {
  color: var(--grey-color-100);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-title.white {
  color: var(--third-color);
}

/* Features */
.features .features-list {
  list-style: none;
}

.features-list .item {
  background-color: var(--second-bg-color);
}

.features-list .number {
  color: var(--secondary-color);

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.features-list .subtitle-text {
  color: var(--secondary-color);

  text-transform: none;
}

/* Our Foremen */
.team {
  background-color: var(--second-bg-color);
}

.team li {
  list-style: none;
}

.team .name {
  color: var(--secondary-color);

  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  
  text-align: center;
}

.team .occupation {
  color: var(--accent-color);
  
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;

  text-align: center;
}

.team-social-list .item {
  background-color: var(--first-bg-color);
}
