.section-title {
  font-family: "Raleway", sans-serif;
  @include font-silo (700, 28px, 1.178, .05em, var(--secondary-color));
  
  &--margin {
    margin: 20px 0;
  }

  &--services {
    margin-top: 20px;
    margin-bottom: 44px;
  }

  &--white {
    color: var(--third-color);
  }
}